@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
:root {
  --primary-color: #0b0f19;
  --secondary-color: #323c55;
  --tertiary-color: #3b7ddd;
  --quartenary-color: #0e2228;
  --pentenary-color: #293b6f;
  --neutral-color: #ffffff;
  --secondary-neutral: lightgray;
  --tertiary-neutral: #f5f5f5;
  --neutral-hover-color: rgba(255, 255, 255, 0.1);
  --font: "Outfit", sans-serif;
}
aside {
  border: 1px solid;
}
.border {
  border-color: var(--secondary-neutral) !important;
}
.badge {
  padding-left: 0;
}
#form-register .badge{
  background-color: transparent;
  color: var(--secondary-color);
  font-weight: 550;
}
/* VIDEO CONFIGS START*/
/* General Configs */
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  font-family: var(--font);
}
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-primary:hover,
.btn-primary:active {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.btn-primary:active {
  transform: scale(0.98);
}
/* Wrapper and Main */
.wrapper {
  display: flex;
}
.main {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 25ms ease-in-out;
  background-color: var(--neutral-color);
}
/* Sidebar Config Start */
#sidebar {
  width: 90px;
  min-width: 90px;
  transition: all 250ms ease-in-out;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
}
#sidebar.expand {
  width: 260px;
  min-width: 260px;
}
#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
  display: none;
}
.toggle-btn {
  width: 30px;
  height: 30px;
  color: var(--neutral-color);
  border-radius: 0.425rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}
.toggle-btn i {
  color: var(--neutral-color);
}
#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
  animation: fadeIn 250ms ease;
}
.sidebar-logo a {
  color: var(--neutral-color);
  font-size: 1.15rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: .5rem;
}
/* Sidebar Nav Links Config */
.sidebar-nav {
  padding: 0.7rem 0;
  flex: 11 auto;
  z-index: 10;
}
a.sidebar-link {
  padding: .625rem 1.625rem;
  color: var(--neutral-color);
  display: block;
  white-space: nowrap;
  font-weight: 700;
  border-left: 3px solid transparent;
}
.sidebar-link i,
.dropdown-item i {
  font-size: 1.1rem;
  margin-right: .75rem;
}
a.sidebar-link:hover {
  background-color: var(--neutral-hover-color);
  border-left: 3px solid var(--tertiary-color);
}
.sidebar-item {
  position: relative;
}
#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
  position: absolute;
  top: 0;
  left: 90px;
  background-color: var(--quartenary-color) ;
  padding: 0;
  min-width: 15rem;
  display: none;
}
#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
  display: block;
  max-height: 15rem;
  width: 100%;
  opacity: 1;
}
#sidebar:not(.expand) .sidebar-item .sidebar-dropdown .sidebar-dropdown {
  left: 130px;
}
/* Rotate Icon */
#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
  border: solid;
  border-width: 0 .075rem .075rem 0;
  content: "";
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.4rem;
  transform: rotate(-135deg);
  transition: all 200ms ease-out;
}
#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(45deg);
  transition: all 200ms ease-in-out;
}
/* Hover Side Icons */
.sidebar-dropdown .sidebar-link {
  position: relative;
  padding-left: 3rem;
  transition: all 500ms;
}
.sidebar-dropdown a.sidebar-link::before {
  content: "";
  height: 0.125rem;
  width: 0.375rem;
  background-color: var(--secondary-neutral);
  position: absolute;
  left: 1.8rem;
  top: 50%;
  transform: translateY(-50%);
  transition: all 500ms;
}
.sidebar-dropdown a.sidebar-link:hover {
  background: transparent;
  border-left: 3px solid transparent;
  padding-left: 3.8rem;
  color: var(--tertiary-color);
}
.active {
  border-left: 3px solid var(--tertiary-color) !important;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Sidebar Config End */
/* Navbar Config Start */
.navbar {
  background-color: var(--neutral-color);
  /* box-shadow: 0 0 2rem rgba(33, 37, 41, 0.1); */
}
.navbar-expand .navbar-collapse {
  min-width: 200px;
}
.avatar {
  height: 40px;
  width: 40px;
}
.navbar-expand .navbar-collapse .navbar-nav{
  display: flex;
  align-items: center;
}
/* Navbar Config End */
/* Dashboard Content Config */
#overview .card {
  background-color: var(--neutral-color);
  transition: 400ms;
  cursor: pointer;
  color: black;
  margin-bottom: 1rem;
  border-color: rgba(231, 234, 243, 0.7);
}
#overview .card .h6 {
  text-transform: uppercase;
  font-size: .7161rem;
  margin-bottom: .25rem;
}
#overview .card:hover {
  background-color: var(--pentenary-color);
  color: var(--neutral-color);
  transform: translateY(-10.5px);
}
#cameras .card {
  padding: 1rem;
}
#cameras .card {
  padding: 1rem;
}
#cameras .card-title {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
#cameras .card-title span {
  border: 1px solid var(--secondary-neutral);
  font-size: .95em;
  text-align: center;
  font-weight: 550;
  height: 25px;
  padding: 0 1rem;
}
.btn-light {
  background-color: white;
}
#overview .table > thead tr {
  color: var(--neutral-color);
  text-align: left;
}
tr.highlight th{
  background-color: var(--pentenary-color);
  color: var(--neutral-color);
  border: none;
}
#control-register-table tr  td  span {
  border-radius: 4rem;
  padding: .2rem .5rem;
  border: 1px solid var(--secondary-neutral);
  font-size: .9em;
}
#control-register-table tr.negative  td  span {
  border-radius: 4rem;
  padding: .2rem .5rem;
  border: 0;
  font-size: .9em;
  background-color: #dc3545 ;
  color: white;
}
.form-control:focus {
  box-shadow: none;
  border: 1px solid lightgray;
  outline: 2px solid var(--primary-color);
}
.form-label {
  cursor: pointer;
}
.content {
  flex: 11 auto;
}
/* Nav Tabs */
.nav-tabs .nav-item a {
  color: var(--pentenary-color);
}
.nav-tabs .nav-item .active {
  color: var(--neutral-color);
  background-color: var(--pentenary-color);
  border: none;
}
/* Footer Content Config */
footer {
  background-color: var(--tertiary-neutral);
  padding: 1rem .875rem;
}
@media (min-width: 768px) {
  .input-group-navbar .form-control:focus {
    outline: none;
    box-shadow: 0 0 0 0 var(--neutral-color);
    border: none;
    background-color: var(--tertiary-neutral);
  }
  .input-group-navbar {
    max-width: 320px;
  }
  .input-group-navbar .form-control {
    color: var(--secondary-color);
    background-color: var(--tertiary-neutral);
    height: calc(2.4375rem + 2px);
  }
  .input-group-navbar .btn {
    color: black;
    background-color: var(--tertiary-neutral);
    cursor: pointer;
    z-index: 1000;
  }
  .input-group-navbar .btn:active {
    background-color: var(--tertiary-neutral);
  }
  .navbar-expand .navbar-nav .dropdown-menu {
    box-shadow: 0 .1rem .2rem var(--neutral-hover-color);
  }
}
/* VIDEO CONFIGS END*/